<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>AirbnbCereal_W_Bd.otf</string>
		<string>AirbnbCereal_W_Bk.otf</string>
		<string>AirbnbCereal_W_Blk.otf</string>
		<string>AirbnbCereal_W_Lt.otf</string>
		<string>AirbnbCereal_W_Md.otf</string>
		<string>AirbnbCereal_W_XBd.otf</string>
	</array>
</dict>
</plist>
